#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
######################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME         HEADERS         SWITCH
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#SECTION BLACKLIST
#SECTION ALL
#SECTION ESTABLISHED
#SECTION RELATED
SECTION NEW

# ICMP
ACCEPT		net		fw		icmp	8
ACCEPT		fw		net		icmp

# SSH
ACCEPT		net		fw		tcp	22

# DNS
ACCEPT		net		fw		tcp	53
ACCEPT		net		fw		udp	53

# LDAP(S)
ACCEPT		$ILLIUM		fw		tcp	389
ACCEPT		$ILLIUM		fw		tcp	636

# MySQL
ACCEPT		$ILLIUM		fw		tcp 	3306

# Nagios
ACCEPT		$HAESTROM	fw		tcp	5666
ACCEPT		$HAESTROM	fw		udp	5666
