###############################################################################
# contacts.cfg
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# In this simple config file, a single contact will receive all alerts.

define contact{
        contact_name                    argure
        alias                           Argure
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r,f
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           patrick.godschalk@piratenpartij.nl
        }

define contact{
	contact_name			geertjohan
	alias				GeertJohan
	service_notification_period	24x7
	host_notification_period	24x7
	service_notification_options	w,u,c,r,f
	host_notification_options	d,u,r,f
	service_notification_commands	notify-service-by-email
	host_notification_commands	notify-host-by-email
	email				gjr19912@gmail.com
	}

define contact{
	contact_name			oele
	alias				Oele
	service_notification_period	24x7
	host_notification_period	24x7
	service_notification_options	w,u,c,r,f
	host_notification_options	d,u,r,f
	service_notification_commands	notify-service-by-email
	host_notification_commands	notify-host-by-email
	email				sander.plas@piratenpartij.nl
	}

define contact{
	contact_name			techwolf12
	service_notification_period	24x7
	host_notification_period	24x7
	service_notification_options	w,u,c,r,f
	host_notification_options	d,u,r,f
	service_notification_commands	notify-service-by-email
	host_notification_commands	notify-host-by-email
	email				techwolf12@piratenpartij.nl
	}


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 argure,geertjohan,oele,techwolf12
        }
