#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
######################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME         HEADERS         SWITCH
#							PORT	PORT(S)		DEST		LIMIT		GROUP
#SECTION BLACKLIST
#SECTION ALL
#SECTION ESTABLISHED
#SECTION RELATED
SECTION NEW

# ICMP
ACCEPT		net		fw		icmp	8
ACCEPT		fw		net		icmp

# SSH
ACCEPT		net		fw		tcp	22

# DNS
ACCEPT		net		fw		tcp	53
ACCEPT		net		fw		udp	53

# HTTP(S)
ACCEPT		net		fw		tcp	80	-		-		s:apache2:10/min:15
ACCEPT		net		fw		tcp	443	-		-		s:apache2:10/min:15

# IRC(S)
ACCEPT		net		fw		tcp	194
ACCEPT		net		fw		tcp	994
ACCEPT		net		fw		tcp	6667
ACCEPT		net		fw		tcp	6697

# Nagios
ACCEPT		$HAESTROM	fw		tcp	5666
ACCEPT		$HAESTROM	fw		udp	5666

# Mumble
ACCEPT		net		fw		tcp	64738
ACCEPT		net		fw		udp	64738
